*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/* btn color: #5f9341 */

.input input{
    padding: 10px;
    border: 1px solid #5f9341;
    
    width: 100%;
    margin-right: 10px;
    margin-bottom: 0.25rem;
}
button{
    background-color: #5f9341;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    
    cursor: pointer;
}
.ul{
    padding-left: 40px;
}